* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  text-align: justify;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.flexIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
header>section img{
  height: 2;
}
body{
  overflow-x: hidden;
}
.whatsapp{
  font-size: 50px;
  color:#4bacbc;
  position: fixed;
  bottom: 40px;
  right: 40px; 
}

@media screen and (max-width: 768px) {
  a.whatsapp {
      position: absolute;
      bottom: unset;
      top: 10px;
      right: 10px;
      font-size: 40px;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
}